@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap'); /*font-family: 'Amatic SC', cursive;*/


.banner {
  max-width: 80%;
  max-height: 50%;
  margin: 2% 10%;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  margin-left: 40px;

}