
.paginator {
    margin: 30px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}
.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}
.usersStyle {
    margin: 20px 10px;
}